html(lang='en')
    head
        link(rel='stylesheet', href='css/main.css')
    body
        a#buttonBack()
        .textBlock
            | Our vision has always been to create an iPhone that is entirely screen.
            | One so immersive the device itself disappears into the experience.
            | And so intelligent it can respond to a tap, your voice, and even a glance.
            | With iPhone X, that vision is now a reality. Say hello to the future.

