html {
    /*  background: url(../images/back_with_logo.png) no-repeat 50% fixed;*/
    background-color: #281d1f;
    /* background-size: auto;*/
    /*background: url(../images/back_start.png) no-repeat 10% fixed;*/
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    overflow-x: hidden;

}

/*
.for-wall {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 10%;
    left: 0.5%;
    display: flex;

    align-items: center;
    justify-content: center;
    overflow: auto;
    align-self: center;
}
.for-wall__img{
    position: absolute;
    display: block;
    border: none;
}*/
/*
.for-for-wall__img__img{
    top: 13%;
    left: 31%;
    margin: -125px 0 0 -125px;

}*/


@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
#application {
    background-image: url(../images/snowflake.png), url(../images/snowflake3.png), url(../images/snowflake2.png);
    height: 100%;
    animation: snow 20s linear infinite;
}


.logo{
    margin-left: -4px;
    max-width: 100%;
    min-width: 99%;
    /* max-height: 56%; */
    min-height: 12%;
}

.menu {
    background: url("../images/banner.png") no-repeat;
    width: 543px;
    background-size: contain;
    height: 591px;
    margin: -40px auto auto;
}


@viewport {
    width: 780px;
    height: 1280px;
    zoom: 2;
    user-zoom: fixed;
    orientation: portrait;
}

.error {
    font-family: fantasy;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    /*border: 0;*/
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border: 2px solid red;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/*.buttonBack {
    display: inline-block;
    color: white;
    outline: none;
    border: 2px solid;
    border-radius: 100px;
    transition: 0.2s;
    background-size: cover;
    font-family: fantasy;
    position: absolute;
    padding: 30px;
    background-image: url(../images/arrow.jpg);
    top: 10%;
    left: 1%;
    font-size: 250%;
    cursor: pointer;
}
.buttonBack:hover {
    background: green;
}*/
.logout {
    font-family: fantasy;
    text-transform: uppercase;
    outline: 0;
    background: purple;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.notfound {
    margin: -215px 0 0 -125px;
    position: absolute;
    color: white;
    font-family: fantasy;
    text-transform: uppercase;
    outline: 0;
    padding: 35px;
    font-size: 250%;
    top: 45%;
    left: 40%;
}

@media screen and (min-width: 960px) and (max-width: 1280px) and (orientation: landscape) {
    html{
        overflow-x: hidden;
    }
    .logo {
        width: 960px;
        height: 190px;
    }
    .for-wall__img{
        margin-left: 22%;
    }
    .notfound{
        left: 31%;
    }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .logo {
        width: 100vw;
        height: 40vh;
    }

    .for-wall__img {
        margin-top: 14%;
        margin-left: 28%;
        width: 49vw;
        height: 197vh;
    }
}