body{
    background: url(../images/error.jpg) no-repeat 50% fixed;
    background-size: cover
}


a.buttonBack{
    display: inline-block;
    color: white;
    outline: none;
    border: 2px solid;
    border-radius: 100px;
    transition: 0.2s;
    background-size: cover;
    font-family:fantasy;
    position: absolute;
    padding: 30px;
    background-image: url(../images/arrow.jpg);

}
a.buttonBack:hover {
    background: green;
}



a.buttonBack{
    display: inline-block;
    color: white;
    outline: none;
    border: 2px solid;
    border-radius: 100px;
    transition: 0.2s;
    background-size: cover;
    font-family:fantasy;
    position: absolute;
    padding: 30px;
    background-image: url(../images/arrow.jpg);

}
a.buttonBack:hover {
    background: green;
}