body {
    background: url(../images/backGround.png) no-repeat 50% fixed;
    background-size: cover
}


#main {
    width: 100%;
    height: 110px;
    text-align: center;
    color: #0cf;
    font-size: 70px;
    padding-top: 40px;
    font-family: fantasy;
}


#buttonFirst {
  display: inline-block;
  color: white;
  border: 2px solid;
  border-radius: 100px;
  transition: 0.2s;
  background-size: cover;
  margin: -125px 0 0 -125px;
  position: absolute;
     top: 45%;
     left: 50%;
     padding: 10px;
     font-family:fantasy

}

#buttonFirst:hover {
  background: green;
}

#buttonFirst:active {
  background: white;
}



#buttonSecond {
  display: inline-block;
  color: white;
  outline: none;
  border: 2px solid;
  border-radius: 100px;
  transition: 0.2s;
  background-size: cover;
font-family:fantasy;
  margin: -125px 0 0 -125px;
  position: absolute;
     top: 64%;
     left: 50%;
     padding: 10px;

}

#buttonSecond:hover {
  background: green;
}

#buttonSecond:active {
  background: white;
}


.textBlock {
  width: 400px;
  height: 400px;
  background: purple;
  margin: -215px 0 0 -125px;
  position: absolute;
     top: 50%;
     left: 45%;
     padding: 10px;

  border: solid 3px black;
  color:white;
 font-family:fantasy;
 font-size: 150%;
 background-size: cover
}


#buttonBack{
    display: inline-block;
    color: white;
    outline: none;
    border: 2px solid;
    border-radius: 100px;
    transition: 0.2s;
    background-size: cover;
    font-family:fantasy;
    position: absolute;
    padding: 30px;
    background-image: url(../images/arrow.jpg);

}
#buttonBack:hover {
    background: green;
}








