body {
    background: url(../images/backGround.png) no-repeat 50% fixed;
    background-size: cover
}

a.buttonFirst {
  display: inline-block;
  color: white;
  border: 2px solid;
  border-radius: 100px;
  transition: 0.2s;
  background-size: cover;
  margin: -125px 0 0 -125px;
  position: absolute;
     top: 45%;
     left: 50%;
     padding: 10px;
     font-family:fantasy

}

a.buttonFirst:hover {
  background: green;
}

a.buttonFirst:active {
  background: white;
}



a.buttonSecond {
  display: inline-block;
  color: white;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 100px;
  transition: 0.2s;
  background-size: cover;
font-family:fantasy;
  margin: -125px 0 0 -125px;
  position: absolute;
     top: 64%;
     left: 50%;
     padding: 10px;

}

a.buttonSecond:hover {
  background: green;
}

a.buttonSecond:active {
  background: white;
}



.textBlock {
  width: 400px;
  height: 400px;
  background: purple;
  margin: -225px 0 0 -125px;
  position: absolute;
     top: 50%;
     left: 50%;
     padding: 10px;

  border: solid 3px black;
  color:white;
 font-family:fantasy;
 font-size: 150%;
 background-size: cover
}


a.buttonBack{
    display: inline-block;
    color: white;
    outline: none;
    border: 2px solid;
    border-radius: 100px;
    transition: 0.2s;
    background-size: cover;
    font-family:fantasy;
    position: absolute;
    padding: 30px;
    background-image: url(../images/arrow.jpg);

}
a.buttonBack:hover {
    background: green;
}








