.win a {
  float: right;
  line-height: 20px;
  margin: 1.2em;
  border: none;
  background: transparent;
  color: blue;
}

.visible {
  background: #fff;
  position: fixed;
  left: 88%;
  top: 44%;
  margin-top: -200px;
  overflow: hidden;
  z-index: 2000;
  width: 252px;
  padding: 0px;
  margin-left: -250px;
}
.overlay {
  background: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  opacity: .5;
}

p {
  margin-bottom: 1.3333em;
}


.visible {
  background: #fff;
  position: fixed;
  left: 62%;
  top: 50%;
  margin-top: -200px;
  overflow: hidden;
  z-index: 2000;
  padding: 6px;
  /* margin-left: -250px; */
  border-radius: 20px;
  min-width: 23%;
  /* max-width: 19%; */
  height: 17%;
}