html
    head
        title My Game
        link(rel='stylesheet', href='css/main.css')
        link(rel="stylesheet", type="text/css", href="/css/game.css")
        a#logout(href="/logout") logout
    body
        h1#example
            | Welcome,#{name} !
            span
