html
    head
    link(rel="stylesheet", type="text/css", href="/css/registration.css")
    script(src="validation.js")
    a#buttonBack(href="/")
    body
        .form
            form.login-form
                input(type='username', name='username', placeholder='username', required='')
                input(type='email', name='email', placeholder='email address', required='')
                input(type='password', name='password', placeholder='password', required='')
                input(type='password', name='password2', placeholder='repeat password', required='')
                input#button(type='submit', formmethod="post", onclick='validate(this.form)', style='background: purple', value='COMPLEATE')

        script.
            function showError(container, errorMessage) {
                container.className = 'error';
                var msgElem = document.createElement('span');
                msgElem.className = "error-message";
                msgElem.innerHTML = errorMessage;
                container.appendChild(msgElem);
            }

            function resetError(container) {
                container.className = '';
                if (container.lastChild.className === "error-message") {
                    container.removeChild(container.lastChild);
                }
            }

            function validate(form) {
                var elems = form.elements;
                resetError(elems.username.parentNode);
                if (!elems.username.value) {
                    showError(elems.username.parentNode, ' What is your username ?');
                    return;
                }
                else if (!isNaN(elems.username.value)) {
                    showError(elems.username.parentNode, ' Username have to be a type text');
                    return;
                }
                resetError(elems.password.parentNode);
                if (!elems.password.value) {
                    showError(elems.password.parentNode, ' What is your password  ?');
                } else if (elems.password.value !== elems.password2.value) {
                    showError(elems.password.parentNode, ' Passwords is not the same');
                }
                else if (elems.password.value.length < 4) {
                    showError(elems.password.parentNode, ' Passwords is too short');
                }
            }


