//.score{
//  display: flex;
//  flex-direction: column;
//  color: #1C5253;
//  font-size: 170%;
//  width: 360px;
//  height: 500px;
//  justify-content: flex-start;
//  padding: 10px 0 10px 10px;
//}
//
//.scoreboard {
//  list-style-type: none;
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  overflow: auto;
//  height: 100%;
//}
//.score ul .userName {
//  margin-left: 5%;
//}
//.score ul .points {
//  margin-right: 5%;
//}
//
//
//.menu li {
//  font-size: 1.1em;
//  border-radius: 17px;
//  /* background: #731509 radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, 0.2), transparent); */
//  /* box-shadow: inset rgba(0, 0, 0, 0.6) 0 -2px 5px, inset rgba(252, 255, 255, 0.7) 0 2px 5px, rgba(0, 0, 0, 0.8) 0 2px 5px -1px; */
//  color: #c58818;
//  /* border: 2px solid; */
//  padding: 20px;
//  text-align: center;
//  margin-bottom: 15px;
//  cursor: pointer;
//}
.score{
  color: #FAE7B5;
}
table{
  font-size: 2.1em;
  width: 50%;
  color: black;
  padding: 10px;
  border-spacing: 66px;
  margin-left: 360px;
}

table th{
  color:#c58818;
}
