<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <canvas id="background"></canvas>
    <canvas id="canvas"></canvas>
    <div class="fps">
      FPS: <span id="fps"></span>
    </div>
    <div style="position: relative;">
      <span style="position:absolute; left:6.3vw; top:31vh;" id="time"></span>
    </div>
  </div>
  <div hidden id="menu" style="background: yellow; padding: 5px;position:absolute;top:45vh;left:45vw;">
  </div>
  <script src="Utils.js" charset="utf-8"></script>
  <script src="Shaders.js" charset="utf-8"></script>
  <script src="State.js" charset="utf-8"></script>
  <script src="GraphicEngine.js" charset="utf-8"></script>
  <script src="GameManager.js" charset="utf-8"></script>
  <script src="UnitManager.js" charset="utf-8"></script>
  <script src="AnimationManager.js" charset="utf-8"></script>
  <script src="SpriteManager.js" charset="utf-8"></script>
  <script src="Animation.js" charset="utf-8"></script>
  <script src="Entity.js" charset="utf-8"></script>
  <script src="Program.js" charset="utf-8"></script>
  <script src="Loader.js" charset="utf-8"></script>
  <script src="Background.js" charset="utf-8"></script>
  <script src="Sprite.js" charset="utf-8"></script>
  <script src="Pathfinding.js" charset="utf-8"></script>
  <script src="Skill.js" charset="utf-8"></script>
  <script src="Unit.js" charset="utf-8"></script>
  <script src="Tile.js" charset="utf-8"></script>
  <script src="DungeonMapMaker.js" charset="utf-8"></script>
  <script src="GameModule.js" charset="utf-8"></script>
  <script src="DemoGameModule.js" charset="utf-8"></script>
  <script src="InitiativeLine.js" charset="utf-8"></script>
  <script src="Action.js" charset="utf-8"></script>
  <script src="start.js" charset="utf-8"></script>
</body>

</html>
