<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/views/singleplay/style.css">
</head>

<body>
  <div class="container">
    <canvas id="background"></canvas>
    <canvas id="canvas"></canvas>
    <div style="position: relative;">
      <span style="position:absolute; left:20.8vw; top:2vh;font-size:1.5vw;color: white" id="time"></span>
    </div>
  </div>
  <img hidden id="win" style="position:absolute;width: 100vw; height: 100vh;" src="/views/singleplay/textures/win.png">
  <img hidden id="lose" style="position:absolute;width: 100vw; height: 100vh;" src="/views/singleplay/textures/lose.png">
  </img>
</body>

</html>
