<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/views/singleplay/style.css">
</head>

<body>
  <div class="container">
    <canvas id="background"></canvas>
    <canvas id="canvas"></canvas>
    <div class="fps">
      FPS: <span id="fps"></span>
    </div>
    <div style="position: relative;">
      <span style="position:absolute; left:6.3vw; top:31vh;" id="time"></span>
    </div>
  </div>
  <div hidden id="menu" style="background: yellow; padding: 5px;position:absolute;top:45vh;left:45vw;">
  </div>
  <script src="/views/singleplay/Utils.js" charset="utf-8"></script>
  <script src="/views/singleplay/Shaders.js" charset="utf-8"></script>
  <script src="/views/singleplay/State.js" charset="utf-8"></script>
  <script src="/views/singleplay/GraphicEngine.js" charset="utf-8"></script>
  <script src="/views/singleplay/GameManager.js" charset="utf-8"></script>
  <script src="/views/singleplay/UnitManager.js" charset="utf-8"></script>
  <script src="/views/singleplay/AnimationManager.js" charset="utf-8"></script>
  <script src="/views/singleplay/SpriteManager.js" charset="utf-8"></script>
  <script src="/views/singleplay/Animation.js" charset="utf-8"></script>
  <script src="/views/singleplay/Entity.js" charset="utf-8"></script>
  <script src="/views/singleplay/Program.js" charset="utf-8"></script>
  <script src="/views/singleplay/Loader.js" charset="utf-8"></script>
  <script src="/views/singleplay/Background.js" charset="utf-8"></script>
  <script src="/views/singleplay/Sprite.js" charset="utf-8"></script>
  <script src="/views/singleplay/Pathfinding.js" charset="utf-8"></script>
  <script src="/views/singleplay/Skill.js" charset="utf-8"></script>
  <script src="/views/singleplay/Unit.js" charset="utf-8"></script>
  <script src="/views/singleplay/Tile.js" charset="utf-8"></script>
  <script src="/views/singleplay/DungeonMapMaker.js" charset="utf-8"></script>
  <script src="/views/singleplay/GameModule.js" charset="utf-8"></script>
  <script src="/views/singleplay/DemoGameModule.js" charset="utf-8"></script>
  <script src="/views/singleplay/InitiativeLine.js" charset="utf-8"></script>
  <script src="/views/singleplay/Action.js" charset="utf-8"></script>
  <script src="/views/singleplay/start.js" charset="utf-8"></script>
</body>

</html>
