.game {
  width: 400px;
  height: 350px;
  background: purple;
  margin: -215px 0 0 -125px;
  position: absolute;
  top: 65%;
  left: 45%;
  padding: 10px;
  border: solid 3px black;
  color: white;
  font-family: fantasy;
  font-size: 150%;
  background-size: cover;
}